<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.OnlineTestSystem.mapper.JudgeQuestionMapper">
  <resultMap id="BaseResultMap" type="com.nju.OnlineTestSystem.model.JudgeQuestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="visible" jdbcType="BIT" property="visible" />
  </resultMap>
  <sql id="Base_Column_List">
    id, classid, body, answer, score, visible
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from judgequestions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByClassPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from judgequestions
    where classid = #{classid,jdbcType=INTEGER}
  </select>
  <select id="selectLastQuestionsByClassPrimaryKey" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from judgequestions
   where classid = #{param2} order by id desc limit #{param1}
  
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from judgequestions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nju.OnlineTestSystem.model.JudgeQuestion">
    insert into judgequestions (id, classid, body, 
      answer, score, visible)
    values (#{id,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{body,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}, #{visible,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.nju.OnlineTestSystem.model.JudgeQuestion">
    insert into judgequestions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="classid != null">
        classid,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="visible != null">
        visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.OnlineTestSystem.model.JudgeQuestion">
    update judgequestions
    <set>
      <if test="classid != null">
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        visible = #{visible,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.OnlineTestSystem.model.JudgeQuestion">
    update judgequestions
    set classid = #{classid,jdbcType=INTEGER},
      body = #{body,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      visible = #{visible,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>